* {
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: white;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px solid black;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #ff6347;
    /* Tomato color on hover */
}

.navbar input[type="search"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-input {
    width: 300px;
    padding: 12px 18px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Focus effect (important) */
.search-input:focus {
    border-color: #ff6b6b;
    box-shadow: 0 4px 12px rgba(255,107,107,0.3);
}

/* Placeholder styling */
.search-input::placeholder {
    color: #aaa;
}

.search-bar {
    position: relative;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 12px 12px 12px 40px; /* left space for icon */
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.search-bar i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  /* position: relative;
  width: 100%;
  height: 90vh;  almost full screen 
  overflow: hidden; */


.hero-banner {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}

/* Overlay content */
.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  max-width: 500px;
}

/* Optional: dark overlay for readability */
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  animation: floatUp 1s ease-out;
}

@keyframes floatUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.hero-content-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #ff6b35;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
